:root{
    --color-primary:#334155;
    --color-primary-300:#15803d;
}
/* RESET CSS */
body{
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
    border-spacing:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Chakra Petch', sans-serif !important;
}
*:not(i){
    font-family: 'Chakra Petch', sans-serif;
}
table, th, td, tr{
    border: 1px solid #222;
}
table{
    border-spacing: 0;
    border-collapse:collapse
}
img,svg{
    vertical-align: middle;
}
a{
    color: #0d6efd;
    text-decoration: none;
}
p{
    margin-top: 0;
    margin-bottom: 16px;
}
.img{
    max-width: 100%;
}
.bg-gray-400{
    background-color: rgb(196, 196, 196);
}
.bg-white{
    background-color: white;
}
.bg-primary{
    background-color: var(--color-primary, '#334155');
}
.bg-primary-300{
    background-color: var(--color-primary-300, '#15803d');
}

.text-primary{
    color: var(--color-primary, '#00adb0');
}
.text-white{
    color: white;
}
.text-green{
    color: #15803d !important;
}
.text-gray{
    color: #374151 !important;
}
.text-inherit{
    color: inherit;
}
.text-center{
    text-align: center;
}


.font-bold{
    font-weight: 700;
}
.font-semibold{
    font-weight: 500;
}
.font-extrabold
{
    font-weight: 800;
}
.my-0{
    margin-top: 0;
    margin-bottom: 0;
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}

.px-3{
    padding-left: 12px;
    padding-right: 12px;
}
.py-0{
    padding-top: 0;
    padding-bottom: 0;
}
.py-2{
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-3{
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-5{
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-10{
    padding-top: 40px;
    padding-bottom: 40px;
}
.pl-0{
    padding-left: 0;
}
.pl-4{
    padding-left: 24px !important;
}
.pt-2{
    padding-top: 8px !important;
}
.pl-lg-3{
    padding-left: 16px !important;
}
.p-5{
    padding: 20px;
}
.mb-1{
    margin-bottom: 4px !important;
}
.mb-2{
    margin-bottom: 8px !important;
}
.pb-mb-3{
    padding-bottom:16px;
}
.mx-1{
    margin-left:4px !important;
    margin-right:4px !important;
}
.mx-7{
    margin-left:28px !important;
    margin-right:28px !important;
}
.ms-0{
    margin-left:0 !important;
}
.text-sm{
    font-size: 13px;
}
.rounded-sm{
    border-radius: 4px;
}
.rounded{
    border-radius: 6px;
}
.rounded-lg{
    border-radius: 8px;
}
.rounded-xl{
    border-radius: 10px;
}
.rounded-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.border{
    border: 1px solid rgba(61, 57, 57, 0.508);
}
.h-1{
    height: 4px;
}
.h-12{
    height: 48px;
}

.list-style-type-none{
    list-style-type: none;
}
.text-decoration-none{
    text-decoration: none;
}
/* CUSTOM CSS */
.promote-image{
    display: block;
    width: 100%;
    height: 100%;
}


/* HEADER */
.logo{
    margin-right: 12px;
    padding-left: 0;
    height: 54px;
    width: auto;
}
.nav-list{
    padding: 0;
    /* bỏ kiểu list để không còn marker ở thẻ li */
    list-style-type: none;
}
.nav-item{
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    min-width: 76px;
    transition: 0.2s ease;
    color: #2b2b2b !important;
}

.nav-link{
    color: black;
    /* thay đổi phần gạch chữ */
    text-decoration: none;
    padding: 12px 20px;
    display: block;
}
.nav-link.active{
    font-weight: bold;
    color: var(--color-primary);
}
.link-target{
    gap: 4px;
    color: #fff !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-right: 24px;
}

.header-btn{
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.bottom-header {
    padding-top: 10px;    
    padding-bottom: 10px; 
    min-height: 56px;      
}

.object-cover{
    object-fit: cover;
} 

.object-top{
    object-position: top;
}